@charset "ISO-8859-1";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@300;500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.header{
    width: 25rem;
    height: 3rem;
    margin: 2rem auto;
    text-transform: uppercase;
}

.form{
    width: 25rem;
    height: 20rem;
    margin: 2rem auto;
   
}

a{
	text-decoration: none;
	
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display:flex;
  justify-content: space-between;
   margin-bottom: 2rem;
}

.topnav a,h5 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .child2{
	display: flex;
	text-align: center;
	color:white;
	
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  
}

