@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@300;500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


.header{
    margin: 2rem auto;
    text-transform: uppercase;
}

.form{
    width: 25rem;
    min-height: 10rem;
    margin: 2rem auto;
   
}

.form h1{
	text-align: center;
}

a{
	text-decoration: none;
	
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display:flex;
  justify-content: space-between;
   margin-bottom: 2rem;
}

.topnav a,h5 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .child2{
	display: flex;
	text-align: center;
	color:white;
	
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  
}

.error{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.btn-container{
	display: flex;
	justify-content: space-between;
	margin-top:2rem;
	
}


.card{
	width:13rem;
	height: 5rem;
	margin:2rem 5rem;
	align-items: center;
	text-align: center;
}

.card h4{
	text-align:center;
	color:white;
}

.card h5{
	text-align: center;
}

.top-section{
	display: flex;
	margin:1rem auto;
	justify-content: space-around;
	
}






